@model MyWebApp.Models.TB_AdditionalData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_AdditionalData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataContent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAdditionalData }) |
    @Html.ActionLink("Back to List", "Index")
</p>
