@model IEnumerable<MyWebApp.Models.TB_AdditionalData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataContent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataContent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAdditionalData }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAdditionalData }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAdditionalData })
        </td>
    </tr>
}

</table>
