<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Person.NET</title>
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="@Url.Content("~/css/StyleMain.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <title>Person.NET</title>
</head>
<body>
    <div class="header">
        <a href="@Url.Action("Index", "Home")"><img id="logo" alt="Person.NET" src="@Url.Content("~/img/Fundo.png")" /></a>
    </div>

    <div class="topnav">
        <a class="btn-login" style="float: right; display: block;" href="/Home/Login">Entrar</a>
        <a class="btn-login" style="float: right; display: block;" href="../UserSignup/Create">Criar Conta</a>
        <a id="btn-logout" style="float: right; display: none;" href="">Sair</a>
        <div class="menu">
            <div class="menubar"></div><div class="menubar"></div><div class="menubar"></div>
            <div class="menucontent">
                <a class="menu menuitem" style="float: right; display: none;" href="/TB_Text/Create">Postar Texto</a>
                <a class="menu menuitem" style="float: right; display: none;" href="/TB_Photo/Create">Postar Foto</a>
                <a class="menu menuitem" style="float: right; display: none;" href="/TB_Video/Create">Postar Vídeo</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Person.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/Authentication.js")"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
