@model MyWebApp.Models.TB_Photo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DirPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_Content.ContentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Content.ContentType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdContent }) |
    @Html.ActionLink("Back to List", "Index")
</p>
