@model MyWebApp.Models.TB_User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirProfilePhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirProfilePhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastAccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPremiumAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPremiumAccess)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdUser }) |
    @Html.ActionLink("Back to List", "Index")
</p>
