@model MyWebApp.Models.Core_Access_Denial

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Core_Access_Denial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TB_Core.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Core.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_User.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAccessDenial }) |
    @Html.ActionLink("Back to List", "Index")
</p>
